
body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container1{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 320px; /* Adjusted for two-column form */
    text-align: left;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-section {
    width: 48%;
}

label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
    margin-left: 5px;
}

input, textarea {
    width: 92.8%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical; /* Allow textarea resizing */
    height: 96px; /* Default height */
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 99.5%;
}

button:hover {
    background-color: #45a049;
}


.signup-button1{
    display: inline-block;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 90.2%;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
}

.signup-button:hover {
    background-color: #45a049;
}

